body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Didot', serif;
    background-color: #f2f1ee;
    scroll-behavior: smooth; /* Enables smooth scrolling */
}

/* NAVIGATION BAR STYLING */
#header {
    width: 100%;
    z-index: 10; /* Ensures nav is above other content */
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 10px 0;
}

.nav_menu_list {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
}

.nav_list {
    margin: 0 2vw;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    transition: color 0.3s;
}

.nav-link:hover, .active-link {
    color: #708090;
}


/* SECTION STYLING */
section {
    padding: 6.25vw 10%;
    height: auto; /* Change based on content size */
    min-height: 100vh; /* Minimum height */
}

/* HOME PAGE STYLING */
.home-section {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    position: relative;
    text-align: center;
    min-height: 100vh;
}

.intro-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto; 
    height: auto;
}

.intro-text {
    position: absolute; 
    top: -31vw; 
    font-size: 5vw; 
    font-weight: bold;
    transform: scaleY(1.4);
    letter-spacing: 5px;
    color: black;
    z-index: 4; 
    margin: 0; /* Reset margin to help with exact positioning */
}

.background-image-left {
    position: absolute;
    top: -2vw;
    left: 5vw;
    width: 18vw; 
    z-index: 3;
    margin: 0 auto; 
}

.background-image-right {
    position: absolute;
    top: -20vw;
    left: 56vw;
    width: 18vw;
    z-index: 3; 
    margin: 0 auto; 
}

.profile-image {
    position: absolute;
    width: 40vw;
    z-index: 2; 
    align-self: center; 
    margin: 0 auto; 
}


/* RESPONSIVE STYLING */
@media (max-width: 768px) {
    .nav_menu_list, .nav_list {
        flex-direction: row; /* Keeps items horizontal */
    }

    .nav_list {
        margin: 5px 10px; /* Reduced space between items */
    }

    .nav-link {
        font-size: 0.8em; /* Smaller font size for better fit */
    }

}
